* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
  }
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 20px;
    margin: 40px auto;
    justify-content: center;
    background-color: #f4f4f4;
  }
  
  .gallery-item {
    flex-basis: calc((100% - 60px) / 3);
   }
  
  .gallery-link {
    display: block;
    text-decoration: none;
    }
  
  .gallery-link:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
    display: block;
   }
  